@import "partials/variables";
@import "partials/fonts";
@import "partials/defaults";
@import "partials/media";
@import "partials/other_mixins";

@mixin main {
  @include fonts;
  @include defaults;
  @include media;
}
@include main;

html {
  background-color: $layout-background;
}

body { 
  background-color: $layout-background;
  margin: 0;
  text-align: left;
  font-family: Arial, sans-serif;
  @include font-smoothing;
}

.faded {
  color: #999;
}

.faded_plus {
  color: #AAA;
}

.faded_plus_plus {
  color: #BBB;
}

.separator_pipe {
  margin: 0 1em;
  color: #AAA;
  font-weight: bold;
}

.separator_pipe_lean {
  margin: 0 0.4em;
  color: #AAA;
  font-weight: normal;
}

.count_text {
  color: #666666;
  font-weight: normal;
}

.step_text {
  font-weight: bold;
  margin-top: 2em;
  color: #660000;
}

.none_text {
  font-style: italic;
  color: #666;
}

.error_text {
  color: red;
  font-weight: bold;
}

.additional_info_text {
  font-size: 93%;
  color: #666666;
  font-weight: normal;
}

.framed {
  vertical-align: middle;
  padding: 3px;
  background-color: #FFF;
  border: 1px solid #DDD;
}

#hd {
  padding: 0;
}

#bd { }

#ft { 
  padding: 1em 0;
}

#main_header {
  margin: 1em 0;

  .logo {
    @include inline-block; 
    vertical-align: middle;
    margin-right: 1em;
    margin-bottom: 0;
    
    img {
      margin: 0;
    }
  }
  
  .logo2 {
    @extend .logo;
  }
  
  h1 {
    @include inline-block; 
    vertical-align: middle;
  }
}

#user_nav {
  float: right;
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 85%;
  background-color: #C7D4E1;
  @include rounded(3px);
  padding: 5px 6px;
}

/* BEGIN Site Tabs */

#site_tabs {

}

#site_tabs ul {
  margin: 0;
  margin-left: 1.5em;
  font-weight: bold;
  @include font-size(13px);
  position: relative;
  height: 32px;
  padding-top: 2px;
  overflow: hidden;
}

#site_tabs ul li {
  @include rounded(6px);
  float: left;
  margin: 0 0 0 1em;
  background-color: $layout-background;
  border: solid 1px $main-border-color;
  position: relative;
  z-index: 1;
  @include shadowed();
}

#site_tabs ul li.active {
  z-index: 3;
}

#site_tabs ul li.shadow {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  border: none;
  background: none;
  z-index: 2;
  -webkit-box-shadow: #111 0 -2px 6px;
  -moz-box-shadow: #111 0 -2px 6px;
  box-shadow: #111 0 -2px 6px;
}

#site_tabs ul li a:link, 
#site_tabs ul li a:visited {
  @include rounded(6px);
  display: block;
  text-align: center;
  height: 36px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: $content-background-color;
  outline: none;
  float: left;
  /*background: -moz-linear-gradient(top center, #456C94, #2B477D 80%) repeat scroll 0 0 #2B477D;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #2B477D),color-stop(.8, #456C94));*/
  background-color: #456C94;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  padding: 0 1.5em;
}

#site_tabs ul li a:hover {
  background-color: #5a87dd;
}

#site_tabs ul li.active a:link, 
#site_tabs ul li.active a:visited {
  color: $link-color;
  -webkit-transition: background-color 0.2s linear;
  background: -moz-linear-gradient(top center, $sidebar-background-color, $content-background-color 25%) repeat scroll 0 0 $content-background-color;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(.95, $sidebar-background-color),color-stop(.75, $content-background-color));
  background-color: $content-background-color;
}

/* END Site Tabs */

#content {
  min-height: 500px;
  background: $content-background-color;
  padding: 1.2em;
  margin: 0;
  @include rounded(8px);
  @include shadowed();
  border: solid 1px $main-border-color;
  z-index: 2;
}

#sidebar {
  background-color: $sidebar-background-color;
  min-height: 500px;
  @include rounded(8px);
  @include shadowed();
  
  .inner {
    margin: 6px 4px;
  }
}
