/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

form.formtastic fieldset > ol > li .inline-hints {
  color: #776; }

/* Fieldsets */
form.formtastic fieldset {
  background: #FFF;
  border: 1px solid #e3e3e3;
  margin: 0 0 1em 0;
  padding: 1.5em 1.4em 0.5em 1.4em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 0px 8px #dddddd;
  -webkit-box-shadow: 0px 0px 8px #dddddd;
  box-shadow: 0px 0px 8px #dddddd; }

form.formtastic fieldset fieldset,
form.formtastic fieldset fieldset fieldset {
  border: 0;
  padding: 0;
  -moz-box-shadow: 0px 0px 0px #aaaaaa;
  -webkit-box-shadow: 0px 0px 0px #aaaaaa;
  box-shadow: 0px 0px 0px #aaaaaa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

form.formtastic legend {
  font-weight: bold; }

form.formtastic .ie6 legend, .ie7 legend {
  margin-left: -7px; }

form.formtastic .radio fieldset {
  margin: 0;
  padding: 0; }

/* Select fields */
form.formtastic fieldset .select select {
  width: 300px;
  padding: 3px 2px;
  font-size: inherit; }

form.formtastic ol li.error input {
  background: #FBE3E4; }

form.formtastic ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px; }

/* Text fields */
form.formtastic input[type="color"],
form.formtastic input[type="date"],
form.formtastic input[type="datetime"],
form.formtastic input[type="datetime-local"],
form.formtastic input[type="email"],
form.formtastic input[type="month"],
form.formtastic input[type="number"],
form.formtastic input[type="password"],
form.formtastic input[type="range"],
form.formtastic input[type="search"],
form.formtastic input[type="tel"],
form.formtastic input[type="text"],
form.formtastic input[type="time"],
form.formtastic input[type="url"],
form.formtastic input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px; }

form.formtastic .ie6 input {
  vertical-align: text-bottom; }

form.formtastic input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default; }

form.formtastic input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

form.formtastic .ie7 input[type="checkbox"] {
  vertical-align: baseline; }

form.formtastic input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

form.formtastic .check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle; }

form.formtastic .radio label {
  padding: 0; }

input[type="submit"],
form.formtastic input[type="submit"] {
  padding: 0.3em 0.4em;
  font-size: 124%; }

body, select, input, textarea {
  color: #444444; }

html {
  overflow-y: scroll; }

a, a:active, a:visited {
  color: #2b477d; }

a:hover {
  color: #003366; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

textarea {
  overflow: auto; }

a:hover, a:active {
  outline: none; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

::-moz-selection {
  background: #22384f;
  color: white;
  text-shadow: none; }

::selection {
  background: #22384f;
  color: white;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #22384f; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

nav ul, nav li {
  margin: 0; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
html {
  background-color: #dce5ef; }

body {
  background-color: #dce5ef;
  margin: 0;
  text-align: left;
  font-family: arial, helvetica, clean, sans-serif;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  text-align: center;
  color: #333333;
  margin-bottom: 1em; }

h1 {
  font-size: 154%;
  color: #000033;
  margin-bottom: 0.5em; }

img, a img {
  border: none; }

.center {
  text-align: center; }

.faded, .none_text {
  color: #777; }

.faded_plus, .count_text, .extra_text {
  color: #999; }

.faded_plus_plus {
  color: #AAA; }

.separator_pipe {
  margin: 0 1em;
  color: #CCC;
  font-weight: normal; }

.separator_pipe_lean {
  margin: 0 0.4em;
  color: #CCC;
  font-weight: normal; }

.count_text {
  font-weight: normal; }

.step_text {
  font-weight: bold;
  margin-top: 2em;
  color: #660000; }

.none_text {
  font-weight: normal;
  font-style: italic; }

.error_text {
  color: red;
  font-weight: bold; }

.extra_text {
  font-weight: normal; }

.framed {
  vertical-align: middle;
  padding: 3px;
  background-color: #FFF;
  border: 1px solid #DDD; }

#hd {
  padding: 0; }

#ft {
  padding: 1em 0; }

#main_header {
  margin: 1em 0; }
  #main_header .logo, #main_header .logo2 {
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
    margin-bottom: 0;
    vertical-align: middle; }
    #main_header .logo img, #main_header .logo2 img {
      margin: 0;
      vertical-align: middle; }
  #main_header .logo2 {
    margin-right: 1.5em; }
  #main_header .site_title {
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 185%;
    font-weight: bolder;
    text-shadow: 1px 1px 6px #BBB;
    line-height: 1; }

#user_nav {
  float: right;
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 85%;
  background-color: #c7d4e1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 6px; }

/* BEGIN Site Tabs */
#site_tabs ul {
  margin: 0;
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 100%;
  position: relative;
  height: 32px;
  padding-top: 2px;
  overflow: hidden; }
  #site_tabs ul li {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: left;
    margin: 0 0 0 1em;
    background-color: #dce5ef;
    border: solid 1px #e3e3e3;
    position: relative;
    z-index: 1;
    -moz-box-shadow: 1px -1px 3px #aaaaaa;
    -webkit-box-shadow: 1px -1px 3px #aaaaaa;
    box-shadow: 1px -1px 3px #aaaaaa; }
    #site_tabs ul li a:link,
    #site_tabs ul li a:visited {
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      display: block;
      text-align: center;
      height: 36px;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      color: #f1f1f1;
      outline: none;
      float: left;
      /*background: -moz-linear-gradient(top center, #456C94, #2B477D 80%) repeat scroll 0 0 #2B477D;
      background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #2B477D),color-stop(.8, #456C94));*/
      background-color: #456c94;
      -webkit-transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
      padding: 0 1.5em; }
    #site_tabs ul li a:hover {
      background-color: #5a87dd; }
  #site_tabs ul li.active {
    z-index: 3; }
    #site_tabs ul li.active a:link,
    #site_tabs ul li.active a:visited {
      color: #2b477d;
      -webkit-transition: background-color 0.2s linear;
      background: -moz-linear-gradient(top center, #c7d4e1, #f1f1f1 20%) repeat scroll 0 0 #f1f1f1;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0.96, #c7d4e1), color-stop(0.8, #f1f1f1));
      background-color: #f1f1f1; }
  #site_tabs ul li.shadow {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    border: none;
    background: none;
    z-index: 2;
    -webkit-box-shadow: #111111 0 -2px 6px;
    -moz-box-shadow: #111111 0 -2px 6px;
    box-shadow: #111111 0 -2px 6px; }

/* END Site Tabs */
#content {
  min-height: 500px;
  background: #f1f1f1;
  padding: 1.4em 1.6em;
  margin: 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 1px -1px 3px #aaaaaa;
  -webkit-box-shadow: 1px -1px 3px #aaaaaa;
  box-shadow: 1px -1px 3px #aaaaaa;
  z-index: 2; }

#sidebar {
  background-color: #c7d4e1;
  min-height: 500px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 1px -1px 3px #aaaaaa;
  -webkit-box-shadow: 1px -1px 3px #aaaaaa;
  box-shadow: 1px -1px 3px #aaaaaa; }
  #sidebar .inner {
    margin: 0.8em 1em; }
    #sidebar .inner .section {
      font-size: 85%;
      margin: 1.2em 0 0 0; }
      #sidebar .inner .section .heading {
        font-weight: bold;
        text-align: center;
        margin: 0 0 0.8em 0; }
      #sidebar .inner .section ul {
        padding: 0;
        margin: 0; }
        #sidebar .inner .section ul li {
          padding: 0;
          margin: 0 0 0.5em 0;
          list-style: none; }

/* BEGIN ActiveRecord errors box */
/* TODO: cleanup!! */
/*.fieldWithErrors {
  padding: 2px;
  background-color: #ffaaaa;
  display: table;
}*/
.fieldWithErrors label {
  padding: 2px;
  background-color: #ffaaaa; }

.fieldWithErrors input, .fieldWithErrors select {
  padding: 2px;
  background-color: #ffaaaa; }

#errorExplanation {
  width: 400px;
  border: 2px solid #ffaaaa;
  margin: 1.5em 0;
  background-color: #f5f5f5;
  padding-bottom: 1em; }

#errorExplanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
  font-size: 93%;
  margin: 0;
  background-image: none;
  background-color: #ffaaaa;
  border: none; }

#errorExplanation p {
  font-size: 93%;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding: 0.5em; }

#errorExplanation ul {
  padding-left: 2em; }

#errorExplanation ul li {
  font-size: 93%;
  list-style: square; }

/* END ActiveRecord errors box */
.buttons {
  margin: 0.6em 0;
  text-align: center; }

/* awesome buttons extensions */
.awesome.regular {
  background-color: #456c94 !important; }

.awesome.blue {
  background-color: #0A50FF !important; }

.awesome.red {
  background-color: #e33100 !important; }

.awesome.green {
  background-color: #3ACC00 !important; }

.awesome.small {
  padding: 4px 7px 5px !important;
  font-size: 10px !important; }

.awesome.small:active {
  padding: 5px 7px 4px !important; }

.awesome.large {
  padding: 8px 14px 9px !important;
  font-size: 14px !important; }

.awesome.large:active {
  padding: 9px 14px 8px !important; }

/* end */
form.sign_in_main {
  width: 400px;
  margin: 0 auto; }

form.sign_up_main {
  width: 600px;
  margin: 0 auto; }

/* BEGIN listing styles */
/* TODO: cleanup!! */
.listings {
  padding: 0;
  margin: 0; }

.listing_item {
  margin-bottom: 1.2em;
  padding: 0.4em 0.8em;
  border: 1px solid #CCC;
  background-color: #FFF; }

.listing_item .label,
.listings_table .label {
  font-size: 123.1%;
  font-weight: bold;
  line-height: 1.6;
  text-align: center; }

.listing_item .detail,
.listings_table .detail {
  color: #333333;
  font-size: 85%;
  margin-top: 0.6em; }

.listing_item .detail_simple,
.listings_table .detail_simple {
  color: #333333;
  font-size: 93%;
  margin-top: 0.6em; }

.listing_item .detail_simple *,
.listings_table .detail_simple * {
  vertical-align: baseline; }

.listing_item .extra_detail_box,
.listings_table .extra_detail_box {
  color: #333333;
  font-size: 85%;
  margin-top: 1.2em;
  padding-top: 0.8em;
  border-top: 1px solid #DDD;
  line-height: 1.5; }

.listings_table {
  border-collapse: separate;
  border-spacing: 14px;
  border: none;
  margin: -14px; }

.listings_table td {
  text-align: left;
  vertical-align: top;
  padding: 0.5em 0.7em;
  border: 1px solid #CCC;
  background-color: #F5F5F5;
  width: 300px;
  -moz-box-shadow: 1px 1px 1px #CCC;
  -webkit-box-shadow: 1px 1px 1px #CCC;
  box-shadow: 1px 1px 1px #CCC; }

.listings_table th {
  text-align: left;
  vertical-align: top;
  padding: 10px;
  background-color: #DDDDDD;
  font-weight: bold; }

.listings_table td.blank {
  border: 0px solid #CCC;
  background-color: transparent;
  -moz-box-shadow: 0px 0px 0px #CCC;
  -webkit-box-shadow: 0px 0px 0px #CCC;
  box-shadow: 0px 0px 0px #CCC; }

.listings_table table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: none; }

.listings_table table td {
  border: none;
  padding: 0;
  -moz-box-shadow: 0px 0px 0px #CCC;
  -webkit-box-shadow: 0px 0px 0px #CCC;
  box-shadow: 0px 0px 0px #CCC;
  width: auto;
  vertical-align: middle; }

/* END listing styles */
.box_description, .listing_item .desc,
.listings_table .desc {
  line-height: 1.4;
  color: #333333;
  padding: 0.6em 1em;
  margin: 1em 0;
  background-color: #F3F3F3;
  border: 1px dotted #DDD; }

.box_info {
  background: #E9F7CC;
  color: #333333;
  padding: 0.6em 1em;
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.5; }

.box_info_standout {
  color: #333333;
  border: 1px solid #DDD;
  background: #FFFFCC;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  line-height: 1.7; }

.box_grouped_info {
  color: #333333;
  border: 1px solid #DDD;
  background: #F5F5F5;
  padding: 0.3em 0.6em;
  margin-bottom: 1em;
  line-height: 1.7; }

.box_indented_with_bar {
  border: 0;
  border-left: 4px solid #DDD;
  padding: 1em 0 1em 1em;
  margin-left: 1em; }

.box_currentuser_specific {
  padding: 1em 1.5em;
  border: 1px solid #99CCFF;
  background-color: #EEF6FF; }

.box_currentuser_specific * {
  vertical-align: middle; }

/* BEGIN content tabs styles */
.tab-container {
  background-color: #FFF;
  border: solid 1px #CCC;
  height: 600px; }
  .tab-container ul {
    height: 600px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    float: left;
    border-right: solid 1px #CCC; }
    .tab-container ul li {
      width: 100px;
      margin: 0;
      padding: 0;
      text-align: center; }
      .tab-container ul li a {
        display: block;
        padding: 15px 0;
        outline: none; }
      .tab-container ul li a:hover {
        text-decoration: underline; }
      .tab-container ul li a.selected-tab {
        font-weight: bold;
        text-decoration: none; }
    .tab-container ul li.selected-tab {
      background: #fff;
      position: relative;
      left: 1px;
      border: 0 solid #CCC;
      border-width: 1px 0; }
    .tab-container ul li:first-child.selected-tab {
      border-top: none; }
  .tab-container .panel-container {
    padding: 1em 1.2em 0.7em 120px;
    background-color: #FFF; }

/* END content tabs styles */
