%header#main_header
  %nav#user_nav
    %ul
      = render 'devise/menu/login_items'
  %div.logo
    = link_to image_tag(Settings.site.main_logo_image, :size => "46x43", :alt => Settings.site.name), root_path
  %div.logo2
    = link_to image_tag("mygrid-logo.png", :alt => "myGrid", :size => "94x32"), "http://www.mygrid.org.uk"
  %h1
    Taverna Workflow Components Library
= render 'shared/site_tabs'
