.inner
  .section
    %p.heading
      Latest Components
    %ul.simple_list
      - Component.latest.each do |component|
        %li
          %p
            = link_to component.label, component
            %span.faded{ :style => "margin-left: 1em;" }
              (#{component.submitter_name})  