<div id="site_tabs">
  <ul>
    <li class="<%= controller_name.downcase == 'experimental_inputs' ? 'active' : '' -%>"><%= link_to "Inputs",experimental_inputs_path -%></li>
    <li class="<%= controller_name.downcase == 'experiments' ? 'active' : '' -%>"><%= link_to "Experiments",experiments_path -%></li>
  </ul>
</div>