// Originally: formtastic_changes.css

/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

@mixin forms {

  form.formtastic fieldset > ol > li .inline-hints { color: #776; }
  
  /* Fieldsets */
  form.formtastic fieldset {
    background: #FFF;
    border: 1px solid $main-border-color;
    margin: 0 0 1em 0;
    padding: 1.5em 1.4em 0.5em 1.4em; 
    @include rounded(5px);
    @include shadowed(0px, 0px, 8px, #DDD) }
  
  form.formtastic fieldset fieldset,
  form.formtastic fieldset fieldset fieldset {
    border: 0;
    padding: 0; 
    @include shadowed(0px, 0px, 0px, #AAA);
    @include rounded(0px); }
  
  form.formtastic legend {
    font-weight: bold; }
  
  form.formtastic .ie6 legend, .ie7 legend {
    margin-left: -7px; }

  form.formtastic .radio fieldset {
    margin: 0;
    padding: 0; }
    
  /* Select fields */
  form.formtastic fieldset .select select {
    width: 300px;
    padding: 3px 2px;
    font-size: inherit; }
  
  form.formtastic ol li.error input {
    background: #FBE3E4; }
  
  form.formtastic ol li.file {
    background: #e1e1e1;
    border: 1px solid #c8c8c8;
    padding: 10px; }
  
  /* Text fields */
  form.formtastic input[type="color"],
  form.formtastic input[type="date"],
  form.formtastic input[type="datetime"],
  form.formtastic input[type="datetime-local"],
  form.formtastic input[type="email"],
  form.formtastic input[type="month"],
  form.formtastic input[type="number"],
  form.formtastic input[type="password"],
  form.formtastic input[type="range"],
  form.formtastic input[type="search"],
  form.formtastic input[type="tel"],
  form.formtastic input[type="text"],
  form.formtastic input[type="time"],
  form.formtastic input[type="url"],
  form.formtastic input[type="week"] {
    font-size: inherit;
    padding: 3px 2px;
    width: 300px; }
  
  form.formtastic .ie6 input {
  vertical-align: text-bottom; }

  form.formtastic input[disabled='disabled'] {
    background-color: #fcfcfc;
    cursor: default; }
  
  form.formtastic input[type="checkbox"] {
    margin: 0 3px 0 0;
    position: relative;
    top: -2px;
    vertical-align: middle; }
  
  form.formtastic .ie7 input[type="checkbox"] {
    vertical-align: baseline; }
  
  form.formtastic input[type="radio"] {
    margin: 0 3px 0 0;
    position: relative;
    top: -2px;
    vertical-align: middle; }
  
  form.formtastic .check_boxes label {
    display: inline;
    padding: 0;
    vertical-align: middle; }
  
  form.formtastic .radio label {
    padding: 0; }
  
  input[type="submit"],
  form.formtastic input[type="submit"] {
    padding: 0.3em 0.4em;
    @include font-size(16px); }
}