$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #444;

$link-color: #2B477D;
$link-hover-color: #036;
$link-active-color: #607890;
$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #22384F;  // bg-color for selected text

$list-left-margin: 1.8em;  // left margin for ul an ol

$layout-background-color: #DCE5EF;
$content-background-color: #F1F1F1;
$sidebar-background-color: #C7D4E1;
$tab-background-color: #456C94;
$main-border-color: #e3e3e3;